@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;600&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Rubik" !important;
  overflow-x: hidden;
}

:root {
  --gradientcolor: linear-gradient(
    328deg,
    rgba(119, 32, 125, 1) 0%,
    rgba(65, 64, 137, 1) 100%
  );
  --pcolor: #77207d;
}
button{
  outline:none ;
  border: none;
}
._container {
  width: 1300px;
  margin: 0 auto;
}
a {
  text-decoration: none !important;
}
